:root {
  --title-color: #2e2f42;
  --link-color: #2e2f42;
  --header-link-color: #4d5ae5;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* .header{

}
.header-navigation {
} */
.logo {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.logo-web {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/* .header-list {
} */
/* .header-item {
} */
.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--header-link-color);
}

/* .contacts {
}
.contacts-item {
} */
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--header-link-color);
}

.hero {
  background-color: var(--title-color);
}
.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

/* .characteristics {
}
.visually-hidden {
}
.characteristics-list {
}
.characteristics-item {
} */
.characteristics-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.characteristics-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .tasks {
} */
.tasks-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
/* .tasks-list {
}
.tasks-item {
}
.tasks-photo {
}*/
.members {
  background-color: #f4f4fd;
}

.members-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
/* .members-list {
}
.members-item {
}
.members-photo {
} */
.members-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.members-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: var(--title-color);
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* .portfolio {
}
.visually-hidden {
}
.buttons-list {
}
.buttons-item {
} */
.button:hover,
.button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
}
.button {
  font-family: inherit;
  background-color: #f4f4fd;
  color: var(--header-link-color);
  border: 1px;
  cursor: pointer;
}
/* .portfolio-list {
}
.portfolio-item {
}
.portfolio-photo {
} */
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
